.mainButton {
    background-color: var(--primary-color);
    color: var(--base-color);
    font-family: var(--primary-font);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 50px;
    box-shadow: 3px 10px 20px 5px rgba(40, 40, 40, 0.3);
    cursor: pointer;
    border: 2px solid transparent;
}

.mainButton:hover {
    background-color: var(--hover-color);
}